/*START THE FEATURETTES*/
.featurette-heading {
    text-align: center;
}

.lead{
    font-size: 20px;
    line-height:180%;
}

.featurette-heading {
    margin-bottom: 20px;
}

.introduction{
    height:380px;
    margin-top: 60px;
}
.glyphicon-pawn, .glyphicon-king, .glyphicon-knight{font-size: 140px;}